@font-face {
  font-family: 'Fira Code';
  src: url('./assets/fonts/firacode-webfont.woff2') format('woff2'),
       url('./assets/fonts/firacode-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Dejavu Sans Mono';
  src: url('./assets/fonts/dejavusansmono-webfont.woff2') format('woff2'),
       url('./assets/fonts/dejavusansmono-webfont.woff') format('woff');
}
@font-face {
  font-family: 'mplus onem';
  src: url('./assets/fonts/mplus-1m-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Hack';
  src: url('./assets/fonts/hack-webfont.woff2') format('woff2'),
       url('./assets/fonts/hack-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Courier Prime Code';
  src: url('./assets/fonts/courier_prime_code-webfont.woff2') format('woff2'),
  url('./assets/fonts/courier_prime_code-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Liberation Mono';
  src: url('./assets/fonts/liberationmono-webfont.woff2') format('woff2'),
  url('./assets/fonts/liberationmono-webfont.woff') format('woff');
}
