$color--gradient-first: #93edc7;
$color--gradient-second: #1cd8d2;
$color--dark: #393b3f;
$color--grey: #dedede;
$color--light-grey: #f5f5f5;
$color--dark-grey: #5c5c5c;
$color--red: #de7345;
$color--yellow: #e0ab17;
$color--green: #91c225;

// Color of Code
$color--constant: #66d9ef;
$color--variable: #a6e22e;
$color--operator: #f92672;
$color--string: #e6db74;
$color--args: #fd971f;
$color--comment: #75715e;

$body--font: 'Roboto', sans-serif;

$editor--radius: 10px;